footer{
    background-color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10x 30x;
}

footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

footer ul li{
    list-style-type: none;
}

footer a{
    text-decoration: none;
    color: #fff;
}